@import url(jbossorg.css);

/*
Switch to monospace font for programlisting, needed for crappy callouts
*/
pre {
	font-family: monospace;
}

body {
	font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
}

/* 
	More sfwk styling */
a {
	text-decoration: none;
}

h1 {
	color: #885324;
}

h2 {
	color: #BA5624;
}

/*
	Use sfwk colour for title
*/
h3,h4,h5,h6 {
	color: #576C74;
}

div.note {
	background: #849092;
	color: white;
}

div.note h2 {
	color: white;
}

div.note a:visited   , div.tip a:visited   , div.important a:visited   ,
	div.caution a:visited 
	  , div.warning a:visited   , div.note a:link   , div.tip a:link   ,
	div.important a:link 
	  , div.caution a:link   , div.warning a:link {
	color: #f7f2d0;
}

#title a.jbossOrg_href {
	display: block;
	height: 100px;
	width: 362px;
	float: left;
	background: url(../images/seamlogo.png) top left no-repeat;
}

#title a.commDoc_href {
	display: block;
	height: 100px;
	background: transparent url(../images/support_doc.png) top right
		no-repeat;
}

/*
	Use sfwk colour as background for examples
	*/
.example {
	background: url(../images/leftside_bkgimage.gif) top left repeat;
	padding: 5px;
	margin-bottom: 10px;
}

/*
	Simpler author style on contents page
	*/
.author {
	margin-top: 2px;
}

.affiliation {
	display: inline;
}

.author h3 {
	margin: 0px;
}

/*
	Make the seam version info into a title
	*/
.releaseinfo {
	color: #BA5624;
	font-size: 150%;
}

/*
	For highlighting, looks very odd or broken at the 0px jboss.org stylesheets use
	*/

PRE.JSP {
	LINE-HEIGHT: 8px
}

PRE.XHTML {
	LINE-HEIGHT: 8px
}

/*
	use sfwk.org tables
	*/
.table-contents th {
	background: #EDE8DB url(../images/th.bg.gif) repeat-x scroll 0pt;
	color: black;
	font-weight: bold;
	padding: 2px 5px;
	white-space: nowrap;
}

.table-contents th td {
	border-right: 1px solid #D3D2D1;
}